html, body {
	background: rgb(30, 30, 30);
	height: 100%;
}

form {
	background: none;
	border: none;
	padding: 0;
}

.shadowed {
	box-shadow: 0 0 5px rgb(20, 20, 20);
}

.tooltip:after {
	width: min(400px, 90vw);
	white-space: normal;
	clip: none;
	-webkit-clip-path: inset(50%);
	clip-path:inset(50%);
}

.tooltip:hover:after {
	-webkit-clip-path: inset(0%);
	clip-path:inset(0%);
}


.truncate-width {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@keyframes doFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.fadeIn {
	animation: doFadeIn 0.2s;
}