html, body {
	background: rgb(30, 30, 30);
}

form {
	background: none;
	border: none;
	padding: 0;
}

.shadowed {
	box-shadow: 0 0 5px rgb(20, 20, 20);
}

.tooltip:after {
	width: 300px;
	white-space: normal;
}

.truncate-width {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

h1 {
	font-size: 8vw;
}